{% include "./partials/header.njk" -%}
{% include "./partials/nav.njk" %}
<!-- Page Content -->
<div class="page-content {{ "active" if userProfile.settings.smSideNav == true }}">
<div class="page-header">
</div>
{% if fleet.status == "Not Listed" %}
<div role="alert" class="alert alert-primary global-banner-inactive noselect">
	<strong>This fleet is not listed:</strong> Pilots cannot see this fleet. If this is the only fleet pilots will be unable to join the waitlist!
</div>
{% endif %}
{% if fleet.fc.characterID == undefined %}
<div role="alert" class="alert alert-primary global-banner-inactive noselect">
	<strong>ESI Fleet Disabled |</strong> You must set a new FC (Boss) before you can send invites.<br/>Use !esi in FC Jabber. If esi-fleets is yellow or red this issue may persist.
</div>
{% endif %}      
<section class="no-padding-top no-padding-bottom">
	<div class="container-fluid">
	<!-- Upper Fleet Panel -->
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
			<div class="statistic-block block">
				<div class="title">
					<div class="icon"></div>
					<strong>Fleet Info</strong>
				</div>
				<!-- Fleet Settings Table -->
				<table class="table table-striped table-sm">
					<tbody>
						<tr>
							<td>FC (Boss):</td>
							<td><a id="fcBoss" href="javascript:void(0);"></a></td>
							<td><button class="btn btn-sm btn-block" onclick="setFC()">I'm the FC</button></td>
						</tr>
						<tr>
							<td>Backseating FC:</td>
							<td><a id="fcBackseat" href="javascript:void(0);"></a></td>
							<td><button class="btn btn-sm btn-block" onclick="setBackseat()">Update Backseat</button></td>
						</tr>
						<tr>
							<td>Fleet Status:</td>
							<td><span id="status"></span></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Update Status <i class="fas fa-sort-down float-right"></i></button>
									<div class="dropdown-menu" role="menu">
										<a class="dropdown-item" onclick="setFleetStatus('Forming')">Forming</a>
										<a class="dropdown-item" onclick="setFleetStatus('Running')">Running</a>
										<a class="dropdown-item" onclick="setFleetStatus('Docking Soon')">Docking Soon</a>
										<a class="dropdown-item" onclick="setFleetStatus('Short Break')">Short Break</a>
										<a class="dropdown-item" onclick="setFleetStatus('Not Listed')">Not Listed</a>       
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>Fleet Type:</td>
							<td><span id="type"></span></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Change Type <i class="fas fa-sort-down float-right"></i></button>
									<div class="dropdown-menu" role="menu">
										<a class="dropdown-item" onclick="setFleetType('Scouts')">Scouts</a>
										<a class="dropdown-item" onclick="setFleetType('Vanguards')">Vanguards</a>
										<a class="dropdown-item" onclick="setFleetType('Assaults')">Assaults</a>
										<a class="dropdown-item" onclick="setFleetType('Headquarters')">Headquarters</a>
										<a class="dropdown-item" onclick="setFleetType('Kundalini')">Kundalini</a>
										<a class="dropdown-item" onclick="setFleetType('ARSEFleet')">ARSEFleet</a>        
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>Fleet Comms:</td>
							<td><a id="comms" href=""></a></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Change Channel <i class="fas fa-sort-down float-right"></i></button>
									<div class="dropdown-menu" role="menu">
										<a class="dropdown-item" onclick="setCommsChannel('{{comms[0].url}}','{{comms[0].name | safe}}')">{{comms[0].name | safe}}</a>
										<a class="dropdown-item" onclick="setCommsChannel('{{comms[1].url}}','{{comms[1].name | safe}}')">{{comms[1].name | safe}}</a>
										<a class="dropdown-item" onclick="setCommsChannel('{{comms[2].url}}','{{comms[2].name | safe}}')">{{comms[2].name | safe}}</a>                             
										<a class="dropdown-item" onclick="setCommsChannel('{{comms[3].url}}','{{comms[3].name | safe}}')">{{comms[3].name | safe}}</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>Fleet System:</td>
							<td><a id="fleetSystem" href="javascript:void(0);"></a></td>
							<td><button class="btn btn-sm btn-danger btn-block" data-toggle="modal" data-target="#fleetActions" accesskey="A"><i class="fas fa-exclamation-triangle"></i> More Actions <i class="fas fa-exclamation-triangle"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- End Upper Fleet Panel -->
		<!-- Fleet Comp Overview -->
		<div class="col-lg-6 col-md-12 col-sm-12">
			<div class="statistic-block block">
				<div>
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item"><a role="tab" data-toggle="pill" id="fleet" href="javascript:void();" class="nav-link comp active">Fleet</a></li>
						<li class="nav-item"><a role="tab" data-toggle="pill" id="logi" href="javascript:void();" class="nav-link comp">Logistics</a></li>
						<li class="nav-item"><a role="tab" data-toggle="pill" id="caps" href="javascript:void();" class="nav-link comp">Capitals</a></li>
						<li class="nav-item"><a role="tab" data-toggle="pill" id="supers" href="javascript:void();" class="nav-link comp">Supers</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="fleetAtAGlance">
							<i id="fleetAtAGlanceLoading" class="fal fa-spinner-third fa-3x fa-spin d-block my-3" style="margin-left:auto;margin-right:auto;"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Waitlist Section -->
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="statistic-block block">
			<!-- Waitlist Navigation Tabs -->
			<div>
				<ul class="nav nav-pills nav-justified">
					<li class="nav-item">
						<a role="tab" data-toggle="pill" href="#waitlist" class="nav-link active">
							<div id="fleetWaitlistCount" class="badge badge-dark strike">1</div> // 
							<div id="fleetWaitlistCount" class="badge badge-dark strike">2</div>
							Fleet Waitlist
						</a>
					</li>
					<li class="nav-item">
						<a role="tab" data-toggle="pill" href="#fleetlist" class="nav-link">
							<div class="badge badge-dark">{{ fleet.members.length }}</div>
							Fleet Comp
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<!-- Fleet Waitlist -->
					<div role="tabpanel" class="tab-pane fade show active" id="waitlist">
						<table class="table table-striped table-hover table-sm">
							<thead>
								<tr>
									<th class="tw30"></th>
									<th class="tw20per">Name</th>
									<th class="tw30"></th>
									<th class="tw30"></th>
									<th class="tw30"></th>
									<th class="tw30"></th>
									<th class="tw80">Fits</th>
									<th>System</th>
									<th>Wait Time</th>
								</tr>
							</thead>
							<tbody>
								{% for user in usersOnWaitlist %}
								{% if user.waitlistMain.characterID == user.characterID %}
								{% include "./partials/waitlistTable.njk" %}
								{% endif %}
								{% endfor %}
							</tbody>
						</table>
						<!-- End Fleet Waitlist -->
						<hr />
						<!-- Alt Waitlist -->
						<table class="table table-striped table-hover table-sm">
							<thead>
								<tr>
									<th class="tw30 text-right">Alt</th>
									<th class="tw20per">Name // Main in Fleet</th>
									<th class="tw30"></th>
									<th class="tw30"></th>
									<th class="tw30"></th>
									<th class="tw30"></th>
									<th class="tw80">Fits</th>
									<th>System</th>
									<th>Wait Time</th>
								</tr>
							</thead>
							<tbody>
								{% for user in usersOnWaitlist %}
								{% if user.waitlistMain.characterID != user.characterID %}
								{% include "./partials/waitlistTable.njk" %}
								{% endif %}
								{% endfor %}                      
							</tbody>
						</table>
					</div>
					<!-- End Alt Waitlist -->
					<!-- Fleetlist -->
					<div role="tabpanel" class="tab-pane fade" id="fleetlist">
						Todo
					</div>
				</div>
			</div>
		</div>
		<!-- End Waitlist Section -->
	</div>
</section>
<!-- Waitlist Action Buttons -->
<div class="modal fade" id="fleetActions">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Fleet Actions</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<p class="d-block">These buttons can break things, use them with care!</p>
				<button class="btn btn-danger btn-sm btn-block" onclick="closeFleet({{fleet.id}})">Close the Fleet!</button>
				<button class="btn btn-danger btn-sm btn-block" onclick="clearWaitlist()" type="button">Clear the Waitlist!</button>       
				<button class="btn btn-danger btn-sm btn-block disabled" type="button" data-toggle="tooltip" title="Hahaha, no!">I need an Adult!</button>
			</div>
		</div>
	</div>
</div>
<!-- Waitlist Scripts -->
<script>
    //On page load
    $(document).ready(function() {
        updateFleetGlance();
		pollFleetInfo()
    
	    //Start Timer
		setInterval(function() {
			updateFleetGlance();
			pollFleetInfo();
		}, 15000); //Every 15 seconds
	});

    //Invite a pilot to the fleet
    function invitePilot(characterID, fleetID) {
        var count = Number($("#fleetWaitlistCount").text());

        $("#row-"+characterID).removeClass().addClass("invite-pending");

        $.ajax({
            type: "POST",
			url: "/commander/admin/invite/" + characterID + "/" + fleetID
        }).done(function() {
            $("#row-"+characterID).removeClass().addClass("invite-sent");
            $("#fleetWaitlistCount").text(Number($("#fleetWaitlistCount").text()) - 1);
        }).fail(function(text) {
            $("#row-"+characterID).removeClass().addClass("invite-failed");
            $("#" + characterID + "-status").text(text.responseText);
        });
    }

    //Remove a pilot from the waitlist
    function removePilot(characterID) {
        $.ajax({
            type: "POST",
			url: "/commander/admin/remove/" + characterID
        }).done(function(){
			//Colour and remove row. Then subtract the waitlist count by 1
			$("#row-"+characterID).removeClass().addClass("invite-failed");
			setTimeout(function() {
				$("#fleetWaitlistCount").text(Number($("#fleetWaitlistCount").text()) - 1);
				$("#row-"+characterID).remove();
			}, 5000)
		});

        
    }

    var compFilter = "fleet";
    $(".comp").click(function() {
        compFilter = $(this).attr('id');
        updateFleetGlance();
    });

    function updateFleetGlance() {
        $.ajax({
            type: "POST",
            url: "/internal-api/fleetcomp/{{fleet.id}}/" + compFilter,
            datatype: "HTML",
            success: function(data) {
                $("#fleetAtAGlance").empty();
                $("#fleetAtAGlance").append(data);
            }
        }).fail(function(err) {
            console.log("Faied to update fleet at a glance: ", err);
        });
    }

	//Update the fleet information panel
	function pollFleetInfo(){
		$.ajax({
			type: "POST",
			url: "/commander/{{fleet.id}}/update/info",
			success: function(payload){
				$("#fcBoss").text(payload.fc.name).attr("onclick", "showInfo(" + payload.fc.characterID + ")");
				$("#fcBackseat").text(payload.backseat.name).attr("onclick", "showInfo(" + payload.backseat.characterID + ")")
				$("#status").text(payload.status);
				$("#type").text(payload.type);
				$("#comms").text(payload.comms.name).attr("href", payload.comms.url);
				$("#fleetSystem").text(payload.location.name).attr("onclick", "setWaypoint(" + payload.location.systemID + ")");
			}
		}).fail(function(err){
			console.log("Failed to update the fleet info panel");
		})
	}

    //Send a notification to a pilot.
    function alarmUser(targetid, fleetid) {
        $.ajax({
            type: "POST",
            url: "/commander/admin/alarm/" + targetid + "/" + fleetid,
            datatype: "HTML",
            success: function(data) {
                setTimeout(function () {
                    $("#row-"+targetid).removeClass().addClass("invite-pending");
                 }, 0);
                 setTimeout(function () {
					$("#row-"+targetid).removeClass();
                 }, 2500);	
            }
        }).fail(function(err) {
            console.log("Faied to alarm user: ", err);
        });
    }

    //Change the FC
    function setFC() {
        $.ajax({
            type: "POST",
            url: "/commander/{{ fleet.id }}/update/commander"
        }).done(function() {
            pollFleetInfo()
        }).fail(function(err) {
            console.log("Error updating the backseat: ", err);
        })
    }

    //Change the backseat
    function setBackseat() {
        $.ajax({
            type: "POST",
            url: "/commander/{{ fleet.id }}/update/backseat"
        }).done(function() {
            pollFleetInfo();
        }).fail(function(err) {
            console.log("Error updating the backseat: ", err);
        })
    }

    //Change the comms channel for the fleet
    function setCommsChannel(commsUrl, commsName) {
        $.ajax({
            type: "POST",
            url: "/commander/{{ fleet.id }}/update/comms",
            data: {
                name: commsName,
                url: commsUrl
            }
        }).done(function() {
            pollFleetInfo()
        }).fail(function(err) {
            console.log("Error updating comms information: ", err);
        });
    }

    //Set the fleet status
    function setFleetStatus(fleetStatus) {
        $.ajax({
            type: "POST",
            url: "/commander/{{ fleet.id }}/update/status",
            data: {
                status: fleetStatus
            }
        }).done(function() {
            pollFleetInfo()
        }).fail(function(err) {
            console.log("Error updating fleet status: ", err);
        });
    }

    //Set the fleet type
    function setFleetType(fleetType) {
        $.ajax({
            type: "POST",
            url: "/commander/{{ fleet.id }}/update/type",
            data: {
                type: fleetType
            }
        }).done(function() {
            pollFleetInfo()
        }).fail(function(err) {
            console.log("Error updating fleet type: ", err);
        });
    }

    //Remove all pilots from the waitlist.
    function clearWaitlist() {
        if (confirm("Are you sure you want to remove all users from the waitlist?\nThis will affect every fleet!")) {
            $.ajax({
                type: "POST",
                url: "/internal-api/waitlist/remove-all",
                datatype: "HTML",
                success: function(data) {
                    location.reload();
                }
            }).fail(function(err) {
                console.log("Faied to clean the waitlist: ", err);
                //$('#fleetActions').modal('toggle');
            });
        } else {
            //$('#fleetActions').modal('toggle');
        }
    }

	//Shuts down the fleet
	function closeFleet(fleetID){
		$.ajax({
			type: "DELETE",
			url: "/commander/" + fleetID,
			success: function() {
				window.location.assign(`/commander`);
			}
		}).fail(function(error){
			console.log("Error closing the fleet");
		})
	}
</script>
{%- include "./partials/footer.njk" %}