{% include "./partials/header.njk" -%}
{% include "./partials/nav.njk" %}
<!-- Page Content -->
<div class="page-content {{ "active" if userProfile.settings.smSideNav == true }}">
	<div class="page-header">
		<div class="container-fluid">
			<h2 class="h5 no-margin-bottom">Your Profile</h2>
		</div>
	</div>
	<section class="no-padding-top no-padding-bottom">
		<div class="container-fluid">
			<!-- Fleet List -->
			<div class="col-md-4 col-sm-6">
				<div class="statistic-block block">
					<div class="progress-details align-items-end justify-content-between">
						<img class="d-block mx-auto mb-2" src="https://image.eveonline.com/Character/{{ userProfile.account.pilots[0].characterID }}_128.jpg" alt="{{ userProfile.account.pilots[0].name }}">
						<h5 style="text-align:center">Hi {{ userProfile.account.pilots[0].name }}</h5>
					<!-- Settings -->
					<hr />
					<div class="form-row align-items-center">
						<div class="col-12">
							<form id="updateJabber"><span class="d-inline" data-toggle="tooltip" title="Your jabber name without the @goonfleet.com"><i class="fas fa-info-circle"></i></span>
								<label for="xmppName">Jabber Name</label>
								<div class="input-group">
									<input type="text" class="form-control" id="xmppName" placeholder="auth_username" value="{{ userProfile.settings.xmpp }}"/>
									<div class="input-group-append">
										<button class="btn btn-success" type="submit" onclick="updateJabber()" style="border-bottom-left-radius:0px;border-top-left-radius:0px;"><i class="fas fa-check-circle"></i></button>
									</div>
								</div>
								<p id="jabberStatus" class="form-text  font-italic">Optional, but awesome.</p>
							</form>
						</div>
					</div>
					<!-- Alts -->
					<hr />
					<button class="btn btn-success btn-sm d-block mb-3 mx-auto" data-toggle="modal" data-target="#addAlt"><i class="fas fa-user-plus"></i> Add an Alt</button>
					<table class="table table-sm">
						<tbody>
							{% for pilot in userProfile.account.pilots %}
							<tr>
								<td class="tr35"><img src="https://image.eveonline.com/Character/{{ pilot.characterID }}_32.jpg" alt="pilot avatar" height="28px"></td>
								<td><a href="javascript:void();" onclick="showInfo({{ pilot.characterID }}">{{ pilot.name }}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Link Alt Modal -->
<div role="dialog" tabindex="-1" class="modal fade" id="addAlt">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><strong><i class="fas fa-user-plus"></i> Add an Alt</strong></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<p>By adding your alts to this account you:</p>
				<ul>
					<li>Can waitlist all of your pilots from any account,</li>
					<li>Get invite alarms for each of your alts.</li>
					<li>FCs can access commander tools and manage fleets from any pilot.</li>
				</ul>
				<hr/>
				<strong class="text-primary"><i class="fas fa-exclamation-triangle"></i></strong><strong> WARNING</strong>
				<p>A pilot can only be linked to one account and this action cannot be undone. If you need your alt unlinked contact leadership.</p>
				<form class="text-center" action="/auth/provider" method="get">
					<button class="btn-link" type="submit" ><img src="includes/img/EVE_SSO_Login_Buttons_Large_Black.png"></button>
				</form> 
			</div>
		</div>
	</div>
</div>
<script>
	$("#updateJabber").submit(function(e){
		e.preventDefault();
	});
	function updateJabber(){
		var dataString = 'authName='+ $("#xmppName").val();
		$.ajax({
			type: "POST",
			url: "/my-settings/jabber",
			data: dataString,
			statusCode: {
				200: function(data) {
					$("#jabberStatus").empty().append('<i class="fas fa-check"></i> Thanks!').css({ 'color': '#2b8a39', 'font-size': '90%' });

				}
			}
		}).fail(function(err){
			$("#jabberStatus").empty().append('<i class="fas fa-times"></i> Something went wrong!').css({ 'color': '#E7002E', 'font-size': '90%' });
			console.log(err)
		});
	}
</script>
{%- include "./partials/footer.njk" %}