{% include "./partials/header.njk" -%}
{% include "./partials/nav.njk" %}
				
		<!-- Page Content -->
		<div class="page-content {{ "active" if userProfile.settings.smSideNav == true }}">
			<div class="page-header noselect">
				<div class="container-fluid">
					<h2 class="h5 no-margin-bottom"><strong class="text-primary">THE</strong><strong>WAITLIST</strong></h2>
				</div>
			</div>
			<!-- Banner Message -->
			<section>
				<!-- No Fleet -->
				<div id="alertarea">
					{% if banner %}
					<div id="topbanner" role="alert" class="alert alert-primary {{ banner.class }} noselect mb-4">
						<strong><i class="fas fa-info-circle"></i></strong> {{ banner.text }}
						<p class="mt-0 mb-0" style="font-size:small;">Message set by: {{ banner.admin.name }}. {% if userProfile.role.numeric > 0 %}| <a href="#" class="font-weight-bold" style="color:white!important;" onclick="hideBanner('{{banner._id}}')">admin delete</a>{% endif %}</p>
					</div>
					{% endif %}
					{% if fleetCount <= 0 %}
					<div role="alert" class="alert alert-primary global-banner-inactive noselect">
						<strong>Waitlist Inactive:</strong> There is either no fleets, or the waitlist is not being used. Check our in-game channel for more information!
					</div>
					{% endif %}
				</div>
			</section>
			<!-- Main Content -->
			<section class="no-padding-top padding-bottom noselect">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							{% if fleetCount > 0 %}
								<!-- Waitlist Queue Panel -->
								{% if position.position != "##" %}
								<div class="statistic-block block noselect">
									<div class="title">                    
										<strong>Queue Info</strong>
									</div>
									<!-- Your Position Table -->
									<table class="table table-striped table-sm noselect">
										<tbody>
											<tr>
												<td class="tw60per"><i class="fas fa-info-circle" data-toggle="tooltip" data-title="This indicator does not include alts."></i> Your Position:</td>
												<td>{{ queueInfo.position if queueInfo.position else "n/a" }} out of {{ queueInfo.count }}</td>
												<!--<td>{{ position.position }} out of {{ position.length }}</td>-->
											</tr>
											<tr>
												<td><i class="fas fa-info-circle" data-toggle="tooltip" data-title="The FC sees you as your first pilot on the waitlist."></i> Waitlist Main:</td>
												<td>{{ userProfile.waitlistMain.name }}</td>
											</tr>
											<!--<tr>
												<td>Chars on Waitlist:</td>
												<td></td>
											</tr>-->
										</tbody>
									</table>
								</div>
								{% endif %}

								<div class="statistic-block block">
									{% if queueInfo.position == null  %}
									<!-- Main Waitlist Panel -->
									<strong>Join the Waitlist!</strong>
										<form class="pb-5" method="post" action="/join/main">
											<div class="form-group">
												<i class="fas fa-info-circle" data-toggle="tooltip" data-title="Add pilots to your account using the Settings window in the My Account nav bar."></i>												
												<label for="character">Select Your Main:</label>
												<select id="character" class="form-control" name="pilot">
													<option value="" required>Choose</option>
													{% for pilot in userProfile.account.pilots %}
													<option value="{{ pilot.characterID }}">{{ pilot.name }}</option>
													{% endfor %}
												</select>
											</div>

											<div class="form-group">
												<i class="fa fa-info-circle" data-toggle="tooltip" data-title="This is a temporary system, type your ship type (Example: Nyx)"></i>
												<label for="ship">Ship Type: </label>
												<input id="ship" class="form-control" type="text" name="ship" required>
											</div>

											<span class="font-italic"><i class="fas fa-exclamation-circle"></i> Join our in game channel 'imperium.incursions' and Mumble.</span>
											<button class="btn btn-success float-right mt-3" type="submit"><i class="fa fa-check"></i> Join the Waitlist</button>										
										</form>
										<!-- End Main Waitlist -->
									{% else %}
										<button class="btn btn-danger float-right mt-3" onclick="remove('all', {{ userProfile.waitlistMain.characterID }})"><i class="fas fa-exclamation-triangle"></i> Leave the Waitlist</button>
										<!-- Alt Waitlist -->
										<div class="mt-2">
											<strong>Add Your Alts</strong>

											<span><a href="/my-settings">You can link alts here</a>.</span>

											<table class="table table-responsive table-sm">
												<tbody>
													{% for pilot in charsOnWl %}
													{% if pilot.characterID != userProfile.waitlistMain.characterID %}
													<tr style="height:33px;">
														<form method="post" action="/join/alt">
															<td>
																<a href="javascript:void(0);" onclick="showInfo({{ pilot.characterID }})">{{ pilot.name }}</a>
																<input type="hidden" name="pilot" value="{{ pilot.characterID }}">
															</td>
															<td>
																<input type="text" name="ship" class="form-control" placeholder="Ship Type (Nyx)" style="height: 30px;line-height: 1px;font font-size:;font-size: 10px;" autocomplete="off" required>                     
															</td>
															<td>
																{% if pilot.onWaitlist %}
																<button class="btn btn-sm btn-danger" type="button" onclick="remove('character', {{ pilot.characterID }})"><i class="fas fa-minus"></i></button>
																{% else %}
																<button class="btn btn-sm btn-success" type="submit"><i class="fas fa-plus"></i></button>
																{% endif %}
															</td>
														</form>
													</tr>
													{% endif %}
													{% endfor %}
												</body>
											</table>											
										</div>
										<!-- End Alt Waitlist -->
									{% endif %}
								</div>
								<!-- End Waitlist Up Block -->
								{% endif %}
						</div>
						<!-- End Waitlist Panel -->
						
						<!-- Fleet Info -->
						<div class="col-lg-8 col-md-6 col-sm-12">
							<div class="row">
								<!-- Fleet Info Table -->		  
						
						{% for fleet in fleets %}
							{% if fleet.status !== "Not Listed" %}
							<div class="col-lg-6 col-md-12"> 
								<div class="statistic-block block">
									<div class="title">
										<strong>Fleet Info</strong>
									</div>
									<table class="table table-striped table-sm noselect">
										<tbody>
											<tr>
												<td  class="tw60per">Fleet Commander:</td>
												<td><a href="javascript:void(0);" onclick="showInfo({{ fleet.fc.characterID }})">{{ fleet.fc.name }}</a></td>
											</tr>
											<tr>
												<td>Secondary Fleet Commander:</td>
												<td><a href="javascript:void(0);" onclick="showInfo({{ fleet.backseat.characterID }})">{{ fleet.backseat.name }}</a></td>
											</tr>
											<tr>
												<td>Fleet Type:</td>
												<td>{{ fleet.type }}</td>
											</tr>
											<tr>
												<td>Fleet Doctrine:</td>
												<td>
														{% if fleet.type === "ARSEFleet" %}
														<a href="https://goonfleet.com/index.php/topic/232451-incursions-arsefleet-doctrine/?p=8011469" target="blank">View Fits</a>
														{% else %}
														Main Fleet
														{% endif %}
												</td>
											</tr>                      
											<tr>
												<td>Fleet Status:</td>
												<td>{{ fleet.status }}</td>
											</tr>
											<tr>
												<td>Fleet Size:</td>
												<td>{{ fleet.members.length }}</td>
											</tr>                      
											<tr>
												<td>Fleet Location:</td>
												<td><a href="javascript:void(0)" onclick="setWaypoint({{ fleet.location.systemID }})">{{ fleet.location.name }}</a></td>
											</tr>
											<tr>
												<td>Fleet Comms:</td>
												<td><a href="{{ fleet.comms.url}} ">{{ fleet.comms.name }}</a></td>
											</tr>
										</tbody>
									</table>
								</div> 
							</div>
							{% endif %}
						{% endfor %}
						</div>
					</div>
					<!-- End Fleet Info -->
				</div>
			</div> 
		</section>
	</footer>
</div>

<script>
function remove(type, characterID){
	$.ajax({
		url: `/remove/` + type + `/` + characterID,
		type: 'delete',
		success: function(result){
			location.reload();
		}
	})
}
</script>
{%- include "./partials/footer.njk" %}