{% block footer %}

    {% if userProfile.role.numeric > 0 %}
    <!-- Legal Notices  Modal -->
    <div role="dialog" tabindex="-1" class="modal fade" id="waitlistBanner">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Waitlist Banner Management</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form id="test">
                        <div class="form-group">
                            <label>Message</label>
                            <textarea id="bannermessage" name="text" class="form-control" maxlength="200" placeholder="max 200 characters" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="bannertype">Banner Type</label>
                            <select id="bannertype" name="type" class="form-control">
                                <option value="banner-info">Information</option>
                                <option value="banner-warning">Warning</option>
                            </select>
                        </div>
                        <button id="go" class="btn btn-success pull-right" type="submit">Set Banner</button>
                    </form>
                    <hr />
                    <p class="text-center mb-0" style="font-size:x-small">Only one banner can be displayed at a time, all banners are logged.</p>
                </div>
            </div>
        </div>
        <script>
        //Create the new banner
        $(function() {
            $("#go").click(function() {
                var dataString = 'text='+ $("#bannermessage").val() + '&type=' + $("#bannertype").val();
                 $.ajax({
                    type: "POST",
                    url: "/internal-api/banner",
                    data: dataString,
                    success: function() {
                        location.reload();
                    }
                });
            })
        })

        //Hide active banner
        function hideBanner(_id) {
            $.ajax({
                type: "POST",
                url: `/internal-api/banner/:`+_id}).done(function() {
                    $('#topbanner').hide();
            }).fail(function(err) {
                console.log(err.responseText);
            });
        }
        </script>
    </div>
    {% endif %}    

    {% if userProfile.role.numeric > 0 %}
    <div id="pilotSearchOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Cancel Search">x</span>
        <div class="overlay-content">
            <form id="searchForm">
                <h4 class="modal-title text-uppercase noselect" style="color:white"><strong class="text-primary">Goon</strong><strong>Incursions</strong> - Pilot Search</h4>
                <input id="pilotSearchName" type="text" placeholder="Search pilot name..." autocomplete="off">
                <button id="searchButton" type="submit" onclick="searchGo()"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <script>
    // Open the full screen search box 
    function openSearch() {
        document.getElementById("pilotSearchOverlay").style.display = "block";
        $(".navbar").attr("style", "display: none !important;");
        $("#pilotSearchName").focus();
    }

    // Close the full screen search box 
    function closeSearch() {
        document.getElementById("pilotSearchOverlay").style.display = "none";
        $(".navbar").removeAttr("style");
    }

    //Stop the form from submitting via normal http request
    $("#searchForm").submit(function(e){
        e.preventDefault();
    });

    function searchGo(){
            $("#searchButton").empty().append('<i class="fas fa-spinner-third fa-spin"></i>');
            var dataString = 'search='+ $("#pilotSearchName").val();
            $.ajax({
                type: "POST",
                url: "/search",
                data: dataString,
                statusCode: {
                    404: function(data) {
                        $("#pilotSearchName").val('').attr("placeholder", data.responseText).focus();
                        $("#searchButton").empty().append('<i class="fa fa-search"></i>');
                    },
                    400: function(data) {
                        $("#pilotSearchName").val('').attr("placeholder", data.responseText).focus();
                        $("#searchButton").empty().append('<i class="fa fa-search"></i>');
                    },
                    200: function(data) {
                    //If we have a url
                        if(data.url) {
                            window.location.assign(data.url);
                        }
                    }
                }
            });
        }
    </script>
    {% endif %}

    <!-- Legal Notices  Modal -->
    <div role="dialog" tabindex="-1" class="modal fade" id="legal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-primary">Goon</strong><strong>Incursions</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to the Goon Incursions Squad. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.</p>
                    <ul class="list-unstyled text-center">
                        <li><small>Design by <a href="#">Caitlin  Viliana</a>, theme by: <a href="https://bootstrapious.com">Bootstrapious</a></small></li>
                        <li><small>Website developed and maintained by: <a href="#">Makeshift Storque</a></small></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Javascript files-->
    <script src="/includes/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/includes/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/includes/vendor/chart.js/Chart.min.js"></script>
    <!--<script src="/includes/js/charts-home.js"></script>-->
    <script src="/includes/js/front.js"></script>
    <script>
        //Page Load
        var nAlert = new BirdAlert({zIndex: 2100});
        $(document).ready(function() {
            if("{{flash.content}}" !== ""){
                nAlert.notify({
                    msg: '{{flash.content.message}}', 
                    title: '{{flash.content.title}}', 
                    className: '{{flash.content.class}}'
                });
            }
            poll();
        });
        
        //Tooltips
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        //navbar
        function sideNav() {
            $.ajax({
                type: "POST",
                url: "/internal-api/account/navbar",
            }).fail(function(err){
                console.log(`Error updating side bar: + ` + err);
            });
        }

        //Inform user that they don't get notifications.
        $(document).ready(function () {
            if (Notify.needsPermission && Notify.isSupported()) {
                var noNotify = `<div role="alert" id="noNotify" class="alert alert-primary global-banner-inactive">
                <i class="fas fa-bell-slash"></i> Notifications disabled: this means you may miss your invite. Click <span style="text-decoration:underline" onclick="enableNotifications()">HERE</span> to enable them.
              </div>`
                $( "#alertarea" ).prepend( noNotify );
            }
           
        })
        
        //Enable Notifications at users request
        function enableNotifications() {
             if (Notify.needsPermission && Notify.isSupported()) {
                Notify.requestPermission(enableNotificationsGranted, enableNotificationsDenied);
            } 
        }

        var payloadData = null;
        //Longpoll for Notifications
        var poll = function () {
            $.ajax({
            url: "/poll/{{userProfile.characterID}}",
            success: function(data){
                if (!Notify.needsPermission) {
                    showNotification(data);
                } else {
                    payloadData = data;
                    Notify.requestPermission(enableNotificationsGranted, enableNotificationsDenied);
                }
                
                //repoll
                poll();
            },
            error: function() {
                poll();
            },
            timeout: 30000 // 30 seconds
            });
        };

        function enableNotificationsGranted() {
            console.log('Permission has been granted by the user');
            $( "#noNotify" ).hide();
            if(payloadData !== null) {
                showNotification(payloadData);
            }
        }
        
        function enableNotificationsDenied() {
            console.warn('Permission has been denied by the user');
        }

        function showNotification(payload) {
            var cNotification = new Notify(payload.data.appName, {
                    body: payload.data.message,
                    icon: payload.data.imgUrl,
                    tag: payload.data.target.id,
                    timeout: 30,
                    notifyClick: cClick,
                    notifyShow: cShow
                });

                cNotification.show();
                
                function cShow() {
                    var audio = new Audio(payload.data.sound);
                    audio.play();
                }
                function cClick() {
                    window.location.assign(payload.data.comms.url);
                }
        }

        //Pilot, Corp, Alliance showinfo
        function showInfo(targetID) {
            $.ajax({
              type: "POST",
              url: "/esi/ui/info/"+targetID
            });
        }

        //Sets a waypoint
        function setWaypoint(systemID) {
              $.ajax({
                type: "POST",
                url: "/esi/ui/waypoint/"+systemID
        });
    }

    function openMarket(targetID) {
        $.ajax({
            type: "POST",
            url: "/esi/ui/market/"+targetID
        });
    }
    </script>
  </body>
</html>
{% endblock %}