<tr id="row-{{ user.characterID }}" class="{{ user.invited }}">
	<td>
		<img src="https://image.eveonline.com/Character/{{ user.characterID }}_64.jpg" style="height:75%" alt="avatar"> 
	</td>
	<td>
		<span>
			<a href="javascript:void(0);" onclick="showInfo({{ user.characterID }})">{{ user.name }}</a>
			{% if user.disciplinary %}
			<a href="/commander/{{ user.name | replace(' ','-') }}/profile"><i class="fas fa-comment-exclamation"></i></a>
			{% endif %}
		</span>
		<span id="{{ user.characterID }}-status">
			{% if user.waitlistMain.characterID == user.characterID %}
			{{ "Newbee" if user.newbee }}
			{% else %}
			// <a href="javascript:void(0);" onclick="showInfo({{ user.waitlistMain.characterID }})">{{ user.waitlistMain.name }}</a>
			{% endif %}
		</span>
		
	</td>
	<td>
		<button class="btn btn-sm btn-success {{ "" if fleet.fc.characterID else "disabled" }}" title="Invite Pilot" onclick="invitePilot('{{ user.characterID }}','{{fleet.id}}');"><i class="fa fa-plus"></i></button>
	</td>
	<td>
		<div class="dropdown">
			<button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-caret-circle-down" style="margin-right:-50%"></i></button>
			<div class="dropdown-menu" role="menu">
				<a class="dropdown-item" href="/commander/{{ user.name | replace(' ','-') }}/profile">View Pilot Profile</a>
				<a class="dropdown-item" href="/commander/{{ user.name | replace(' ','-') }}/skills">View Pilot Skills</a>
				{% if user.contact.xmpp %}
				<a class="dropdown-item" href="xmpp:{{ user.contact.xmpp }}@goonfleet.com">Jabber PM</a>
				{% endif %}
			</div>
		</div>
	</td>
	<td>
		<button class="btn btn-sm" title="Browser Alarm" onclick="alarmUser('{{ user.characterID }}','{{ fleet.id }}')"><i class="fa fa-bell"></i></button>
	</td>
	<td>
		<button class="btn btn-danger btn-sm" onclick="removePilot('{{ user.characterID }}')" title="Remove from Waitlist"><i class="fa fa-minus"></i></button>
	</td>
	<td>
		<a href="#">
			<!--<img src="https://image.eveonline.com/Render/17740_32.png" title="Machariel" alt="Machariel">-->{{ user.fits }}
		</a>
	</td>
	<td><a href="javascript:void(0);" onclick="setWaypoint({{ user.location.systemID }})">{{ user.location.name }}</a></td>
	<td>{{ user.signup }}</td>
</tr>