{% include "./partials/header.njk" -%}
{% include "./partials/nav.njk" %}
      <!-- Page Content -->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">FC Management</h2>
          </div>
        </div>
        {% if userProfile.roleNumeric < 5 %}
        <div role="alert" class="alert alert-primary global-banner-inactive noselect">
          <strong>Restricted Access:</strong> You can only add trainees.
        </div>
        {% endif %}        
        <section class="no-padding-top no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <!-- Add/View FCs -->
              <div class="col-md-8 col-sm-12">
                <div class="statistic-block block">
                  <button class="btn btn-default mb-4" data-toggle="modal" data-target="#addFC" accesskey="n"><i class="fas fa-user-plus"></i> Add FC</button>
                  <div class="progress-details d-flex align-items-end justify-content-between">
                    <table class="table table-striped table-hover table-sm">
                      <thead>
                        <tr>
                          <th class="tr35"></th>
                          <th class="tr45per">Name</th>
                          <th class="tr45per">Alliance</th>
                          <th class="tr45per">Rank</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for commander in fcs %}
                        <tr>
                          <td><img src="https://image.eveonline.com/Character/{{commander.characterID}}_32.jpg" alt="{{commander.name}}s Avatar"></td>
                          <td><a href="javascript:void(0);" onclick="showInfo({{ commander.characterID }})">{{ commander.name }}</a></td>
                          <td><a href="javascript:void(0);" onclick="showInfo({{ commander.alliance.id }})">{{ commander.alliance.name }}</a></td>
                          <td>{{commander.role}}</td>
                          <td><a class="btn btn-sm btn-default" href="/admin/commanders/?user={{commander.characterID}}" style="color:black"><i class="fa fa-info-circle"></i> Manage</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>  
                </div>
              </div>
              
              <!-- FC Management Section -->
              <div class="col-md-4 col-sm-12">
                <div class="statistic-block block">                  
                <ul class="list-unstyled">
                  <li><a href="javascript:void(0);" onclick="showInfo({{ manageUser.characterID }})">{{manageUser.name}}</a></li>
                  <li>{{manageUser.role}}</li>
                  <li><strike>FCed for:</strike> </li>
                </ul>
                {% if userProfile.roleNumberic > 4 %}
                <form  method="post" action="/admin/commanders/update">
                  <input type="hidden" name="pilotName" value="{{manageUser.name}}">
                  <div class="form-group">
                    <label for="updatePermission">Update Permission</label>
                    <select id="updatePermission" class="form-control" name="permission">
                      {{ roleDropdownContentHtml | safe  }}
                    </select>
                  </div>
                  <button class="btn btn-success float-right">Update Permissions</button>
                </form>
                {% endif %}
                <strong>All Characters</strong>
                <table class="table table-striped table-hover table-sm">
                  <thead>
                    <tr>
                      <th class="tr40"></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="https://image.eveonline.com/Character/96304094_32.jpg" alt="Pilot Avatar"></td>
                      <td><a href="#"><strike>Caitlin Viliana</strike></a></td>
                      <td><strike>Something Useful</strike></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% if userProfile.roleNumberic > 4 %}
    <!-- New FC Modal -->
    <div class="modal fade" id="addFC" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add a new Fleet Commander</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          <div class="modal-body">
            <form method="post" action="/admin/commanders/update">
              <div class="form-group">
                <label for="name">Commander's Name:</label>
                  <input type="text" id="name" class="form-control" name="pilotName" required/>
              </div>
              <div class="form-group">
                <label for="permission">Set permission:</label>
                <select id="permission" class="form-control" name="permission">
                  {{ roleDropdownContentHtml | safe  }}
                </select>
              </div>  
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="submit"><i clas="fas fa-check"></i> Add FC</button></div>
            </form>
          </div>
        </div>
      </div>
      <!-- End New FC Modal -->
      {% else %}
      <!-- Set Trainee Modal -->
      <div class="modal fade" id="addFC" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Set a New Trainee</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
              <form method="post" action="/admin/commanders/trainee">
                <div class="form-group">
                  <label for="name">Commander's Name:</label>
                  <input type="text" id="name" class="form-control" name="pilotName" required/>
                  <small class="form-text text-muted">You can only set pilots as trainees. If you add someone in error, contact a member of leadership.</small>
                </div>
              </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="submit"><i clas="fas fa-check"></i> Add FC</button></div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
{%- include "./partials/footer.njk" %}