{% include "./partials/header.njk" -%}
{% include "./partials/nav.njk" %}

    <!-- Page Content -->
    <div class="page-content">
      <div class="page-header">
      </div>
      {% if fleet.status == "Not Listed" %}
      <div role="alert" class="alert alert-primary global-banner-inactive noselect">
          <strong>This fleet is not listed:</strong> Pilots cannot see this fleet. If this is the only fleet pilots will be unable to join the waitlist!
      </div>
      {% endif %}
      <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
          <!-- Upper Fleet Panel -->
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="statistic-block block">
                <div class="title">
                  <div class="icon"></div>
                  <strong>Fleet Info</strong>
                </div>
                <!-- Fleet Settings Table -->
                <table class="table table-striped table-sm">
                  <tbody>
                    <tr>
                      <td>FC (Boss):</td>
                      <td><a href="javascript:void(0);" onclick="showInfo({{ fleet.fc.characterID }})">{{ fleet.fc.name }}</a></td>
                      <td><button class="btn btn-sm btn-block" onclick="setFC()">I'm the FC</button></td>
                    </tr>
                    <tr>
                      <td>Backseating FC:</td>
                      <td><a href="javascript:void(0);" onclick="showInfo({{ fleet.backseat.characterID }})">{{ fleet.backseat.name }}</a></td>
                      <td><button class="btn btn-sm btn-block" onclick="setBackseat()">Update Backseat</button></td>
                    </tr>
                    <tr>
                      <td>Fleet Status:</td>
                      <td>{{ fleet.status }}</td>
                      <td>
                        <div class="dropdown">
                          <button class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Update Status <i class="fas fa-sort-down float-right"></i></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" onclick="setFleetStatus('Forming')">Forming</a>
                            <a class="dropdown-item" onclick="setFleetStatus('Running')">Running</a>
                            <a class="dropdown-item" onclick="setFleetStatus('Docking Soon')">Docking Soon</a>
                            <a class="dropdown-item" onclick="setFleetStatus('Short Break')">Short Break</a>
                            <a class="dropdown-item" onclick="setFleetStatus('Not Listed')">Not Listed</a>       
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Fleet Type:</td>
                      <td>{{ fleet.type }}</td>
                      <td>
                        <div class="dropdown">
                          <button class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Change Type <i class="fas fa-sort-down float-right"></i></button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" onclick="setFleetType('Scouts')">Scouts</a>
                            <a class="dropdown-item" onclick="setFleetType('Vanguards')">Vanguards</a>
                            <a class="dropdown-item" onclick="setFleetType('Assaults')">Assaults</a>
                            <a class="dropdown-item" onclick="setFleetType('Headquarters')">Headquarters</a>
                            <a class="dropdown-item" onclick="setFleetType('Kundalini')">Kundalini</a>
                            <a class="dropdown-item" onclick="setFleetType('ARSEFleet')">ARSEFleet</a>        
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Fleet Comms:</td>
                      <td><a href="{{ fleet.comms.url }}">{{ fleet.comms.name }}</a></td>
                      <td>
                        <div class="dropdown">
                          <button class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Change Channel <i class="fas fa-sort-down float-right"></i></button>
                          <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" onclick="setCommsChannel('{{comms[0].url}}','{{comms[0].name | safe}}')">{{comms[0].name | safe}}</a>
                              <a class="dropdown-item" onclick="setCommsChannel('{{comms[1].url}}','{{comms[1].name | safe}}')">{{comms[1].name | safe}}</a>
                              <a class="dropdown-item" onclick="setCommsChannel('{{comms[2].url}}','{{comms[2].name | safe}}')">{{comms[2].name | safe}}</a>                             
                              <a class="dropdown-item" onclick="setCommsChannel('{{comms[3].url}}','{{comms[3].name | safe}}')">{{comms[3].name | safe}}</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Fleet System:</td>
                      <td><a href="javascript:void(0);" onclick="setWaypoint({{ fleet.fc.location.id }})">{{ fleet.fc.location.name }}</a></td>
                      <td><button class="btn btn-sm btn-danger btn-block" data-toggle="modal" data-target="#fleetActions" accesskey="A"><i class="fas fa-exclamation-triangle"></i> More Actions <i class="fas fa-exclamation-triangle"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Upper Fleet Panel -->
            <!-- Fleet Comp Overview -->
            <div class="col-md-6 col-sm-12">
              <div class="statistic-block block">
                <div>
                  <ul class="nav nav-pills nav-justified">
                    <li class="nav-item"><a role="tab" data-toggle="pill" id="fleet" href="javascript:void();" class="nav-link comp active">Fleet at a Glance</a></li>
                    <li class="nav-item"><a role="tab" data-toggle="pill" id="logi" href="javascript:void();" class="nav-link comp">Logistics</a></li>
                    <li class="nav-item"><a role="tab" data-toggle="pill" id="caps" href="javascript:void();" class="nav-link comp">Capitals</a></li>
                    <li class="nav-item"><a role="tab" data-toggle="pill" id="supers" href="javascript:void();" class="nav-link comp">Supers</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="fleetAtAGlance">
                      <i id="fleetAtAGlanceLoading" class="fal fa-spinner-third fa-3x fa-spin d-block my-3" style="margin-left:auto;margin-right:auto;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Waitlist Section -->
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="statistic-block block">
              
              <!-- Waitlist Navigation Tabs -->
              <div>
              <ul class="nav nav-pills nav-justified">
                  <li class="nav-item"><a role="tab" data-toggle="pill" href="#waitlist" class="nav-link active"><div id="fleetWaitlistCount" class="badge badge-dark">{{ usersOnWaitlist.length }}</div> Fleet Waitlist</a></li>
                  <li class="nav-item"><a role="tab" data-toggle="pill" href="#fleetlist" class="nav-link"><div class="badge badge-dark">{{ fleet.members.length }}</div> Fleet Comp</a></li>
              </ul>
              <div class="tab-content">
              <!-- Fleet Waitlist -->
                <div role="tabpanel" class="tab-pane fade show active" id="waitlist">                
                  <table class="table table-striped table-hover table-sm">
                    <thead>
                      <tr>
                        <th class="tw30"></th>
                        <th class="tw20per">Name</th>
                        <th class="tw30"></th>
                        <th class="tw30"></th>
                        <th class="tw30"></th>
                        <th class="tw30"></th>
                        <th class="tw80">Fits</th>
                        <th>System</th>
                        <th>Wait Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in usersOnWaitlist %}
                      {% if user.alt == false %}
                      <tr id="row-{{ user._id }}" class="{{ user.invited }}">
                        <td>
                          <img src="https://image.eveonline.com/Character/{{ user.user.characterID }}_64.jpg" style="height:75%" alt="avatar"> 
                        </td>
                        <td>
                          <a href="javascript:void(0);" onclick="showInfo({{ user.user.characterID }})">{{ user.user.name }}</a>
                          <p><strike>Newbee</strike></p>
                        </td>
                        <td>
                          <button class="btn btn-success btn-sm" onclick="invitePilot('{{ user.user.characterID }}','{{ user._id }}');" title="Invite to Fleet"><i class="fa fa-plus"></i></button>
                        </td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-caret-circle-down" style="margin-right:-50%"></i></button>
                              <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">View Pilot Profile</a>
                                <a class="dropdown-item" href="#">View Pilot Skills</a>
                              </div>
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-sm" title="Browser Alarm" onclick="alarmUser('{{ user.user.characterID }}','{{ user._id }}')"><i class="fa fa-bell"></i></button>
                        </td>
                        <td>
                          <button class="btn btn-danger btn-sm" onclick="removePilot('{{ user._id }}')" title="Remove from Waitlist"><i class="fa fa-minus"></i></button>
                        </td>
                        <td>
                          <a href="#"><!--<img src="https://image.eveonline.com/Render/17740_32.png" title="Machariel" alt="Machariel">-->{{ user.ship }}</a>
                        </td>
                        <td><a href="{{ user.location.id }}">{{ user.location.name }}</a></td>
                        <td>{{ user.signupTime }}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Fleet Waitlist -->
                  
                  <hr />
                  
                  <!-- Alt Waitlist -->
                  <table class="table table-striped table-hover table-sm">
                    <thead>
                      <tr>
                        <th class="tw30 text-right">Alt</th>
                        <th class="tw20per">Name // Main in Fleet</th>
                        <th class="tw30"></th>
                        <th class="tw30"></th>
                        <th class="tw30"></th>
                        <th class="tw30"></th>
                        <th class="tw80">Fits</th>
                        <th>System</th>
                        <th>Wait Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in usersOnWaitlist %}
                      {% if user.alt != false %}
                      <tr id="row-{{ user._id }}" class="{{ user.invited }}">
                        <td>
                          <img id="avatar-{{ user._id }}" src="https://image.eveonline.com/Character/{{ user.alt.id }}_64.jpg" style="height:75%" alt="avatar" data-toggle="tooltip" title=""> 
                        </td>
                        <td>
                          <a href="javascript:void(0);" onclick="showInfo({{ user.alt.id }})">{{ user.alt.name }}</a>
                          <p class="mb-0">Alt of: {{ user.user.name }}</p>
                        </td>
                        <td>
                          <button class="btn btn-success btn-sm"  onclick="invitePilot('{{ user.alt.id }}','{{ user._id }}');" title="Invite to Fleet"><i class="fa fa-plus"></i></button>
                        </td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-caret-circle-down" style="margin-right:-50%"></i></button>
                              <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">View Pilot Profile</a>
                                <a class="dropdown-item" href="#">View Pilot Skills</a>
                              </div>
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-sm" title="Browser Alarm" onclick="alarmUser('{{ user.alt.id }}','{{ user._id }}')"><i class="fa fa-bell"></i></button>
                        </td>
                        <td>
                          <button class="btn btn-danger btn-sm" onclick="removePilot('{{ user._id }}')" title="Remove from Waitlist"><i class="fa fa-minus"></i></button>
                        </td>
                        <td>
                          <a href="#"><!--<img src="https://image.eveonline.com/Render/17740_32.png" title="Machariel" alt="Machariel">-->{{ user.ship }}</a>
                        </td>
                        <td><a href="{{ user.location.id }}">{{ user.location.name }}</a></td>
                        <td>{{ user.signupTime }}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- End Alt Waitlist -->
                <!-- Fleetlist -->
                <div role="tabpanel" class="tab-pane fade" id="fleetlist">
                Todo
              </div>
            </div>
          </div>
        </div>
        <!-- End Waitlist Section -->
      </div>
    </section>
    <!-- Waitlist Action Buttons -->
    <div class="modal fade" id="fleetActions">
        <div class="modal-dialog">
            <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Fleet Actions</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p class="d-block">These buttons can break things, use them with care!</p>
                <form class="mb-2" action="/commander/{{ fleet.id }}/delete">
                    <button class="btn btn-danger btn-sm btn-block" type="submit">Close the Fleet!</button>
                </form>
                <button class="btn btn-danger btn-sm btn-block" onclick="clearWaitlist()" type="button">Clear the Waitlist!</button>        
                <button class="btn btn-danger btn-sm btn-block disabled" type="button" title="Hahaha, no!">I need an Adult!</button>
            </div>
        </div>
    </div>

<!-- Waitlist Scripts -->
<script>
    //On page load
    $( document ).ready(function() {
      updateFleetGlance();
    });

    //Start Timer
    setInterval(function()
    { 
      updateFleetGlance();
    }, 30000);//Every 30 seconds

    //Invite a pilot to the fleet
    function invitePilot(characterID, dbRowID) {
        var dbRowID = dbRowID;
        var rowClass = "#row-"+dbRowID;
        var count = Number($("#fleetWaitlistCount").text());
        
        $(rowClass).removeClass().addClass("invite-pending");
        
        $.ajax({
            type: "POST",
            url: "/commander/{{ fleet.id }}/invite/"+characterID+"/"+dbRowID}).done(function() {
                $(rowClass).removeClass().addClass("invite-sent");
                $("#fleetWaitlistCount").text(count-1);
        }).fail(function(text) {
            $(rowClass).removeClass().addClass("invite-failed");
        });
    }

    //Remove a pilot from the waitlist
    function removePilot(id) {
        console.log(id);
        var dbRowID = id;
        var rowClass = "#row-"+id;
        var count = Number($("#fleetWaitlistCount").text());

        $.ajax({
            type: "POST",
            url: "/commander/{{ fleet.id }}/remove/"+dbRowID
        });

        $("#fleetWaitlistCount").text(count-1);

        $(rowClass).removeClass().addClass("invite-failed");
        setTimeout(function(){
            if ($(rowClass).length > 0) {
                $(rowClass).remove();
            }
        }, 5000)     
    }

    var compFilter = "fleet";
    $( ".comp" ).click(function() {
      compFilter = $(this).attr('id');
      updateFleetGlance();
    });

    function updateFleetGlance() {
      $.ajax({
        type:"POST",
        url:"/internal-api/fleetcomp/{{fleet.id}}/"+compFilter,
        datatype:"HTML",
        success:function(data)
        {
           $( "#fleetAtAGlance" ).empty();
           $( "#fleetAtAGlance" ).append(data);
        }
      }).fail(function(err) {
        console.log("Faied to update fleet at a glance: ",err);
      });
    }
    
    //Send a notification to a pilot.
    function alarmUser(targetid, dbRowID) {
      var rowClass = "#row-"+dbRowID;

      $.ajax({
        type:"POST",
        url:"/internal-api/alarm-user/"+targetid,
        datatype:"HTML",
        success:function(data)
        {
            $(rowClass).removeClass().addClass("invite-pending");
            $(rowClass).delay(5000).queue(function(){
              $(this).removeClass().addClass("invite-default");
            });
        }
      }).fail(function(err) {
          console.log("Faied to alarm user: ",err);
      });
    }

    //Change the FC
    function setFC(){
      $.ajax({
          type:"POST",
          url:"/commander/{{ fleet.id }}/update/commander"
      }).done(function () {
          location.reload();
      }).error(function (err){
          console.log("Error updating the backseat: ",err);
      })   
    }

    //Change the backseat
    function setBackseat(){
      $.ajax({
          type:"POST",
          url:"/commander/{{ fleet.id }}/update/backseat"
      }).done(function () {
          location.reload();
      }).error(function (err){
          console.log("Error updating the backseat: ",err);
      })
    }

    //Change the comms channel for the fleet
    function setCommsChannel(comsUrl, comsName){
      $.ajax({
        type:"POST",
        url:"/commander/{{ fleet.id }}/update/comms",
        data: {name: comsName, url: comsUrl}}).done(function(){
            location.reload();
        }).fail(function(err) {
            console.log("Error updating comms information: ", err);
        });
    }

    //Set the fleet status
    function setFleetStatus(fleetStatus){
      $.ajax({
        type:"POST",
        url:"/commander/{{ fleet.id }}/update/status",
        data: {status: fleetStatus}
      }).done(function(){
          location.reload();
      }).fail(function(err) {
          console.log("Error updating fleet status: ", err);
      });
    }

    //Set the fleet type
    function setFleetType(fleetType){
      $.ajax({
        type:"POST",
        url:"/commander/{{ fleet.id }}/update/type",
        data: {type: fleetType}
      }).done(function(){
          location.reload();
      }).fail(function(err) {
          console.log("Error updating fleet type: ", err);
      });
    }

    //Remove all pilots from the waitlist.
    function clearWaitlist(){
      if (confirm("Are you sure you want to remove all users from the waitlist?")) {
          $.ajax({
            type:"POST",
            url:"/internal-api/waitlist/remove-all",
            datatype:"HTML",
          success:function(data)
          {
              location.reload();
          }
        }).fail(function(err) {
            console.log("Faied to clean the waitlist: ",err);
            $( '#fleetActions' ).modal('toggle');
        });
      } else {
        $( '#fleetActions' ).modal('toggle');
      }
    }
</script>
{%- include "./partials/footer.njk" %}