
/* Strike out */
.strike{
	text-decoration: line-through;
}

/* your styles go here */
body{
	overflow-x: hidden!important;
}

/* Fixes the table being misaligned under an image */
.img{
	padding-bottom: 1px;
}

/* Card Titles */
.title strong{
	font-weight: normal;
}

/* Navbar Icons */
nav#sidebar.shrinked > ul > li > a > .svg-inline--fa, nav#sidebar.shrinked > ul > li > a > span.fa-layers{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Button Overrides */
.btn-sm{
	height: 25px;
    padding: 5px;
    line-height: 13px;
}

/* White text on info buttons */
.btn-info{
	color: white;
}

.btn-info:hover{
	color: white;
}

/* Alarm Button Highlight */
.btn-alert{
	background-color: black;
	color: white;
}

/* Default Button Style */
.btn-default{
	background-color: rgb(221,221,221);
}

/* Fleet at a Glance */
.nav-link.comp{
	background: none;
	color: #DC3545;
	margin-top: -10px;
  }
  .nav-link.comp.active{
	background: none;
	color: white;
  }
  
/* Inline radio button spacing */
.form-check-label{
	margin-right: 10px;
}

/* More spacing on dropdown menu buttons */
.dropdown-toggle{
	padding-right: 15px;
}

/* Dropdown menus space correctly and hover color fix */
.dropdown-menu.active.show{
	margin-top: -0px;
}

.dropdown-item:hover{
	background-color: #282b2f!important;
	color: white;
}

/* Removed broken carret from dropdown navs */
.dropdown-toggle::after, nav#sidebar a[data-toggle="collapse"]::after{
	display:none;
 }

/* global-banner */
.global-banner{
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: -20px;
	border-radius: 0px;
}

/* No Fleet-banner */
.global-banner-inactive{
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: -20px;
	border-radius: 0px;
	color: white;
	background-color: #dc3545;
	border-color: white;
}
/* Waitlist Info Banner */
.banner-info{
	background-color:#06577d;
	color: white;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border-radius: 0px;
}

/* Waitlist Warning Banner */
.banner-warning{
	background-color:#dc3545;
	color: white;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border-radius: 0px;
}		

/* Fit selection buttons */
.fit-selected, .fit:hover, .fit:focus{
	color: white;
	background-color: #8064A2;
}

.fit{
	color:white;
	background-color: rgba(0,0,0,0.0);
	color: white;
	border-color: #8064A2;
}

/* Stick footer to the bottom of the screen */
.footer{
	position: relative;
	max-width: 99vw;
	left: 0;
	right: 0;
	bottom: 0;
}

.padding-bottom{
	margin-bottom: 50px;
}

/* Table Widths */
.tw15per{
	width: 15%;
}

.tw20{
	width: 20px;
}
.tw20per{
	width: 20%;
}

.tw30{
	width: 30px;
}

.tw35{
	width: 35px;
}

.tw40per{
	width: 40%;
}

.tw45per{
	width: 45%;
}

.tw60per{
	width: 60%;
}

.tw80{
	width: 80px;
}

/* Vertical Forum Groups */
.vertical-input-group .input-group:first-child {
    padding-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.vertical-input-group .input-group:last-child {
    padding-top: 0;
}
.vertical-input-group .input-group:last-child * {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
    padding-top: 0;
    padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
    border-radius: 0;
}

.badge-log {
	width: 90%;
}

/* Modal Search */
/* The overlay effect with black background */
.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  }
  
  /* The content */
  .overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
  }
  
  /* Close button */
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
  }
  
  .overlay .closebtn:hover {
	color: #ccc;
  }
  
  /* Style the search field */
  .overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	background: white;
  }
  
  .overlay input[type=text]:hover {
	background: #f1f1f1;
  }
  
  /* Style the submit button */
  .overlay button {
	float: left;
	width: 11%;
	padding: 15px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .overlay button:hover {
	background: #bbb;
  }

  .disciplinary{
	color: #DC3545;
	text-decoration: italic;
  }
/* No Select */
.noselect, .global-banner, img, footer, nav{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}