/* your styles go here */
body{
	overflow-x: hidden!important;
}

/* Fixes the table being misaligned under an image */
.img{
	padding-bottom: 1px;
}

/* Card Titles */
.title strong{
	font-weight: normal;
}

/* Navbar Icons */
nav#sidebar.shrinked > ul > li > a > .svg-inline--fa, nav#sidebar.shrinked > ul > li > a > span.fa-layers{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Button Overrides */
.btn-sm{
	height: 25px;
    padding: 5px;
    line-height: 13px;
}

/* White text on info buttons */
.btn-info{
	color: white;
}

.btn-info:hover{
	color: white;
}

/* Alarm Button Highlight */
.btn-alert{
	background-color: black;
	color: white;
}

/* Default Button Style */
.btn-default{
	background-color: rgb(221,221,221);
}

/* Inline radio button spacing */
.form-check-label{
	margin-right: 10px;
}

/* More spacing on dropdown menu buttons */
.dropdown-toggle{
	padding-right: 15px;
}

/* Dropdown menus space correctly and hover color fix */
.dropdown-menu.active.show{
	margin-top: -0px;
}

.dropdown-item:hover{
	background-color: #282b2f!important;
	color: white;
}

/* Removed broken carret from dropdown navs */
.dropdown-toggle::after, nav#sidebar a[data-toggle="collapse"]::after{
	display:none;
 }

/* global-banner */
.global-banner{
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: -20px;
	border-radius: 0px;
}

/* No Fleet-banner */
.global-banner-inactive{
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: -20px;
	border-radius: 0px;
	color: white;
	background-color: #dc3545;
	border-color: white;
}


/* Fit selection buttons */
.fit-selected, .fit:hover, .fit:focus{
	color: white;
	background-color: #8064A2;
}

.fit{
	color:white;
	background-color: rgba(0,0,0,0.0);
	color: white;
	border-color: #8064A2;
}

/* Stick footer to the bottom of the screen */
.footer{
	position: relative;
	max-width: 99vw;
	left: 0;
	right: 0;
	bottom: 0;
}

.padding-bottom{
	margin-bottom: 50px;
}

/* Table Widths */
.tw15per{
	width: 15%;
}

.tw20{
	width: 20px;
}
.tw20per{
	width: 20%;
}

.tw30{
	width: 30px;
}

.tw35{
	width: 35px;
}

.tw40per{
	width: 40%;
}

.tw45per{
	width: 45%;
}

.tw60per{
	width: 60%;
}

.tw80{
	width: 80px;
}

/* Vertical Forum Groups */
.vertical-input-group .input-group:first-child {
    padding-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.vertical-input-group .input-group:last-child {
    padding-top: 0;
}
.vertical-input-group .input-group:last-child * {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
    padding-top: 0;
    padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
    border-radius: 0;
}

/* No Select */
.noselect, .global-banner, img, footer, nav{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}