/* Styles for Waitlist Page */

/* Default row on waitlist */
.invite-normal{
	color: white;
}

/* Invite send PENDING */
table.table-striped>tbody>tr.invite-pending, table.table-hover>tbody>tr.invite-pending a, table.table-hover>tbody>tr.invite-pending:hover, table.table-hover>tbody>tr.invite-pending:focus{
	background-color: #055673; 
	color:white;
}

/* Invite send OKAY */
table.table-striped>tbody>tr.invite-sent, table.table-hover>tbody>tr.invite-sent a, table.table-hover>tbody>tr.invite-sent:hover, table.table-hover>tbody>tr.invite-sent:focus{
	background-color: #1a461a;
	color:white;
}

/* Invite send FAILED */
table.table-striped>tbody>tr.invite-failed, table.table-hover>tbody>tr.invite-failed a, table.table-hover>tbody>tr.invite-failed:hover, table.table-hover>tbody>tr.invite-failed:focus{
	background-color: #670808;
	color: white;
}


/* Skills */
.skills-pass{
	/*background-color: #055a058c!important;*/
	color:white!important;
}

.skills-failed{
	background-color:#ef00177d!important;
	color:white!important;
}

.skills-pass a, .skills-failed a{
	color: #ffffff;
}